.box {
    flex-direction: row;
    display: flex;
    margin-top: 3%;
}

@media only screen and (max-width: 600px) {
    .box {
        flex-direction: column;
        display: flex;
        align-items: center;
    }
} 

#contact {
	margin-top: 6%;
}

i {
    padding-right: 1%;
}

h1 {
	
    text-align: center;
    font-family: 'Pangolin', cursive;
    font-size: 45px;
    color: #494743;
}

h2 {

    font-family: 'Pangolin', cursive;
    color: #ffd801;
    padding-bottom: 10px;
    border-bottom: 2px solid #76d6de;
    display: inline-block;
    font-size: 28px;
}

.strong {
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;

}

.info {
    color: #494743;
    margin-bottom:10px;
    margin-top: 0%;
    margin-right: 20%;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

.box_sx {
    width: 40%;
    margin-left: 5%;
}

.box_dx {
    width: 60%;
}

#google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

#google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    }

.innerbox_dx {
    margin-left: 5%;
}