html {
	scroll-behavior: smooth;
}

button:focus {outline:0;}

#home {
	width:100%;
	height: 100%;
}

#logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
	width: 100%;
	background-color : rgb(73, 71, 67, 0.8);
	z-index: 11;
	position:fixed;
	top:0px;
}

.mainpanel {
	display:flex;
	flex-direction: column;
	z-index:2;
	height:80%;
	width:35%;
	margin-left: 6%;
	margin-top: 8%;
}


.mainpanel img {
	
	z-index: 10;
	width: 52%;
	height: 54%;
	margin-left: 20%;
}

#buttons-box {
	display: flex;
	justify-content: space-between;
}

.text {
  margin-top: 3%;
  color: #f2f2f2;
  text-align: center;
  font-size: 50px;
  font-family:'cracked-narrow';
  z-index:1;
}

.div-button-slide-menu {
	z-index:6;
  text-align: center;
  padding-top:5%;
}

.div-button-slide-componi {
	z-index:6;
  text-align: center;
  padding-top:5%;
}

.button-slide-menu {
  font-family: 'Balsamiq Sans', cursive;
  background-color: #ffd801;
  border: none;
  color: #494743;
  padding: 20px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight:bold;
  border: solid 2px #494743;
}

.button-slide-menu:hover {
  border: solid 2px white;
  color: white;
}


.button-slide-componi{
  font-family: 'Balsamiq Sans', cursive;
  background-color: #494743;
  border: none;
  color: #ffd801;
  padding: 20px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight:bold;
  border: solid 2px #ffd801;
}

.button-slide-componi:hover{
	border: solid 2px white;
  color: white;
}

#title{
	width: 15%;
	text-align:center;
    font-size:40px;
    color:#ffd801;
    border-bottom: 2px solid #76d6de;
    display: inline-block;
}

#titlecontainer {
  padding-top: 4%;
  display:flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 900px) {
	.mainpanel{
		height:auto;
		width:auto;
	}
	
	.text {
  		font-size: 30px;
 	}
 	
 	.button-slide-menu{
 		padding:8px 40px;
 	}
 	
 	.button-slide-componi{
 		padding:12px 40px;
 	}
 	
 	.box_sx{
 		width:auto!important;
 	}
 	
 	#title{
 		width:auto!important;
 	}
 	
 	#buttons-box {
 		flex-direction: column;
		display: flex;
		justify-content: center; 	
 	}
 	
 	#buttons-box a {
 		font-size: 15px;
 	}
 	
 	  		
 	.mainpanel img {
		width: 33%;
		height: 35%;
		margin-left: 30%;
		margin-top: 8;
	}
	
	.slideshow-container {
		display: none;	
	}
	
	#home {
		background-image: url("../../images/Slideshow/Slide1.jpg");
		background-size: 100% 100%;
		margin-top: 19%;
		
	}
	
	#google-maps iframe{
		width:100%!important;
		heigth:100%!important;
	}
	.box_dx{
		width:100%!important;
	}
 	
	
}

@media screen and (min-width: 800px) and (max-width: 1280px) {

	.text {
  		margin-top: 40%;
  		font-size: 26px;
  		color: white;
 	}
 	
 	.button-slide-menu{
 		padding:12px 40px;
 		font-size: 14px;
 	}
 	
 	.button-slide-componi{
 		padding:12px 17px;
 		font-size: 14px;
 	}
	
	.dropdown{
		margin-left: 1%;
		width:14%!important;
	}
	
	#news{
		padding-top:7%!important;
		margin-top:0%!important;
	}
} 	

@media screen and (max-width: 800px) {
	#news{
		margin-top: 0%!important;
    	padding-top: 8%!important;
	}
	}

