
#navbar {
	margin-top: -1%;
	position:fixed;
	width: 100%;
	min-height: 9%;
	background-color : rgb(73, 71, 67, 0.8);
  	overflow: hidden;
  	display: flex;
 	flex-direction:row;
  	justify-content: center;
  	align-items: center;
  	z-index:11;
}	


#user-text{
	 font-weight: bold;
	 padding-left: 5%;
	 padding-right: 10%;
	 padding-top: 4%;
	 font-size: 16px;
}

#user-icon{
	padding-top: 5%;
    border-radius: 50%;
    color: #555;
    font-size: 30px;
    height: 40px;
    text-align: center;
    width: 40px;    

}

#logout{
	background-color: #ffd801;
	color: black;
	float: right;
	border-radius: 0px;
	border: none;
	font-size: 16px;
	padding: 5%; 
}

/* Dropdown Button */
.dropbtn {
	padding-bottom: 10%;
  height:100%;
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border: none;
  background-color: #ffd801;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  margin-top: 0.5%;
  height: 5%;
  width: 12%;
 align-self: flex-end;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {

  display: none;
  width: 12%;
  z-index: 11;
  position: fixed;
  background-color: #f6f6f6;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ffd801;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #76d6de;}

.sticky {
 	position: fixed;
 	margin-top:10%;
  	top: 0px;
  	width: 100%;
}

.selected {
	background-color : white;
	color: black;
}

	
.nav-a {
	font-family: 'Open Sans', sans-serif;
  	display: block;
  	color: #f6f6f6;
  	text-align: center;
  	margin-top: 1%;
  	padding: 3% 5%;
  	text-decoration: none;
  	font-size: 36px;
}

.nav-a:hover {
  	color: #ffd801;
}

#texts_box {
	
	display: flex;
	margin-left: 20%;
	margin-right: 10%;
	justify-content: space-around;
}

@media screen and (max-width: 800px){

	.nav-a {		
  		font-size: 25px;
  		padding-right: 1%;
	}
	
	#logo img {
		
		
	}
	
	#logo {  display: none;}
}

@media screen and (max-width: 600px){

	.nav-a {		
  		font-size: 22px;
  		
}
	
}
