#news {
    margin-top: 20%;
    padding-top: 3%;
}
.project {
    display: block;
	width: 100%;
	text-decoration: none;
	margin: 1em 0;
    cursor: pointer;
}
figure {
	margin: 0;
	padding: 0;
}
.project figure img {
	width: 100%;
	display: block;
	object-fit: cover;
	height: 300px;
}
.project figcaption {
	padding-top: 1em;
	background: #76d6de;
	color: #fff;
}
.project h3 {
	font-weight: bold;
	font-size: 20px;
	color: white;
	margin-top: 10%;
}
.desc_news {
	margin: .5em 0;
	font-size: 16px;
	font-family:'Arial'
}
.desc_news:after {
	display: inline-flex;
	margin: 0 0 .5em .5em;
}

/*

When the browser is 960px or larger.

*/

@media screen and (min-width: 960px) {

	.news-wrapper {
		max-width: 960px;
		margin: auto;
    	margin-top: 3%;
	}
	.news-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1em;
	}
	.project:nth-child(1) {
		grid-column: 1 / span 3;
	}
	.project {
		width: 100%;
		height: 300px;
		text-decoration: none;
        margin: 0;
	}
	.project figure {
		position: relative;
        overflow: hidden;
	}
	.project figure img {
		position: relative;
        z-index: 10;
        transition: transform 0.4s;
	}
	.project figure:hover img {
		transform: translateY(-200px);
	}

	.project figcaption {
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 20px;
		height: 200px;
		width: 100%;
	}
}

@media only screen and (max-width: 650px) {		
	
	#news {
    padding-top: 12%;
    margin-top: 0%;
    }
    	
}
